.Viewer > section { 
  width: 100%; 
  margin-bottom: 100px; 
 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
} 
 
.Viewer > section > h4 { 
  font-size: 22px; 
  font-weight: bold; 
} 
 
.Viewer .emotion_img_wrapper { 
  width: 250px; 
  height: 250px; 
  border-radius: 5px; 
 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: space-around; 
 
  background-color: rgb(236, 236, 236); 
  font-size: 25px; 
} 
 
.Viewer .content_wrapper { 
  width: 100%; 
  background-color: rgb(236, 236, 236); 
  border-radius: 5px; 
 
 /* 자연스럽게 줄바꿈 */ 
  overflow-wrap: break-word; 
} 
 
.Viewer .content_wrapper > p { 
  padding: 20px; 
  text-align: left; 
  font-size: 20px; 
  font-weight: 400; 
  line-height: 2.5; 
}